{% extends 'base.html' %}

{% block title %}Add Introduction{% endblock %}

{% block content %} {# ctrl alt l -> 포멧 맞추기 #}
   <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add</button>
   </form>

    <ul>
        {% for introduction in repository.introduction_set.all %}
        <li><a href="{% url 'jat:introduction_detail' repository_pk=introduction.repository_id pk=introduction.id %}">version {{ introduction.version}}</a></li>
        {% endfor %}
    </ul>

{% endblock %}