{% extends 'base.html' %}

{% block title %}List Repository{% endblock %}

{% block content %} {# ctrl alt l -> 포멧 맞추기 #}
    {{ repository_list.count }} Repository
    <a href="{% url 'jat:repository_add' %}">ADD Repository</a>
    <table border="1">
        <tbody>
        {% for repository in repository_list %}
            <tr>
                <td><a href="{% url 'jat:repository_modify' pk=repository.id %}">수정</a></td>
                <td><a href="{% url 'jat:repository_detail' pk=repository.id %}">{{ repository.name }}</a></td>
                <td>마감: {{ repository.deadline }}</td>
                <td><a href="{% url 'jat:repository_delete' pk=repository.id %}">삭제</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{#repository_list는 generic에서 제공되는 것임. 맘대로 바꿀 수 없음#}